p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.5; /*Espaçamento entre as linhas*/
}

h1 {
    text-align: center;
    text-decoration: line-through;
}