p {
    font-family: 'Iceland', sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.5;
    /*Espaçamento entre as linhas*/
}

h1 {
    font-family: 'Comforter', cursive;
    margin: 100px;
    width: 50%;
    border: 3px solid;

}